.box {
    position: relative;
    height: 100vh;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/2.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.box::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(15, 15, 15, 0.3);
}


.top-Heading {
    font-family: 'Poppins', sans-serif;
    position: relative;
    color: #ffffff;
    font-size: 4rem;
    line-height: 0.9;
    text-align: center;
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.top-subtitle {
    font-family: 'Poppins', sans-serif;
    position: relative;
    color: #ffffff;
    font-size: 1rem;
    line-height: 0.9;
    text-align: center;
    margin: 4%;

}


.head-bar {
    width: 100px;
    height: 5px;
    line-height: 1;
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto
   

}

@media screen and (max-width: 400px) {
    .top-Heading, .top-subtitle {
        padding-top: 20%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        margin-top: 20%;
    }
}

.feature--content p {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 50px 100px 50px 100px;
    text-align: justify;
    text-align: center;

}

.heading--subtitle,
.middle-content p {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 50px 100px 50px 100px;
    text-align: justify;
    text-align: center;
}

.heading .heading--title {
    font-family: 'Poppins', sans-serif;
    color: #222222;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 27px;
    text-transform: capitalize;
    text-align: justify;
    text-align: center;
}


.middle-heading {
    font-family: 'Poppins', sans-serif;
    color: #222222;
    font-size: 36px;
    font-weight: 400;
    text-align: justify;
    text-align: center;
    padding-top: 30px;
}

.feature-panel {
    float: left;
    width: 25%;
    align-items: center;
    padding: 5px;
}

.feature--icon {
    width: 50px;
    height: 50px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .feature-panel {

        width: 100%;
        padding: auto;
    }
}

.feature--content p {
    padding: 0%;

}

h3 {
    text-align: center;

}

.feature--icon {
    align-items: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.feature--content {
    padding-left: auto;
}

.feature-panel .feature--icon .feature--content {
    align-items: center;
    text-align: center;
}

.feature-panel {
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-top: 5%;

}

.middle {
    background-color: #F8F8F8;
    padding: auto;
    margin: auto;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.portfolio::after {
    content: "";
    clear: both;
    display: table;
}

.portfolio {
    align-items: center;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .column {

        width: 100%;
        padding: auto;
    }
}

.bluequote {
    background-color: #008891;
}

.bluequote .text-left {

    font-size: 200%;
    font-weight: 400;
    text-align: center;
    color: #F8F8F8;
    padding-top: 5%;
    font-family: 'Poppins', sans-serif;
}

/* Button White */
.btn--white {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 0.8%;
    margin: 20%;
    align-items: center;
    
}


.pull-right, .pull-left
{
    margin: 3%;
}

.btn--white:active,
.btn--white:focus,
.btn--white:hover {
    background-color: #008891;
    color: #ffffff;
    border-color: #008891;
}

/* Button Block */
.btn--block {
    width: 50%;

}

.btn--auto {
    width: auto;
}

/* Button Rounded */
.btn--rounded {
    border-radius: 50px;
    
}

/* Button Bordered */
.btn--bordered {
    background-color: transparent;
}

.btn--bordered.btn--primary {
    color: #008891;
    border-color: #008891;
}

.btn--bordered.btn--primary:active,
.btn--bordered.btn--primary:focus,
.btn--bordered.btn--primary:hover {
    color: #ffffff;
    background-color: #008891;
    border-color: #008891;
}

.btn--bordered.btn--secondary {
    color: #333333;
    border-color: #333333;
}

.btn--bordered.btn--secondary:active,
.btn--bordered.btn--secondary:focus,
.btn--bordered.btn--secondary:hover {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}

.btn--bordered.btn--white {
    color: #ffffff;
    border-color: #ffffff;
}

.btn--bordered.btn--white:active,
.btn--bordered.btn--white:focus,
.btn--bordered.btn--white:hover {
    color: #008891;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn--white.btn--secondary {
    color: #333333;
    border-color: #ffffff;
    background-color: #ffffff;
}

.btn--white.btn--secondary:active,
.btn--white.btn--secondary:focus,
.btn--white.btn--secondary:hover {
    color: #ffffff;
    background-color: #008891;
    border-color: #008891;
}


/* Button Bordered */
.btn--bordered {
    background-color: transparent;
}

.btn--bordered.btn--primary {
    color: #008891;
    border-color: #008891;
}

.btn--bordered.btn--primary:active,
.btn--bordered.btn--primary:focus,
.btn--bordered.btn--primary:hover {
    color: #ffffff;
    background-color: #008891;
    border-color: #008891;
}

.btn--bordered.btn--secondary {
    color: #333333;
    border-color: #333333;
}

.btn--bordered.btn--secondary:active,
.btn--bordered.btn--secondary:focus,
.btn--bordered.btn--secondary:hover {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}

.btn--bordered.btn--white {
    color: #ffffff;
    border-color: #ffffff;
}

.btn--bordered.btn--white:active,
.btn--bordered.btn--white:focus,
.btn--bordered.btn--white:hover {
    color: #008891;
    background-color: #ffffff;
    border-color: #ffffff;
}

.blue-bar::after {
    content: "";
    clear: both;
    display: table;
    margin: 50px 50px 50px 50px;
}



.box1 {
    position: relative;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/2.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.box1::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(15, 15, 15, 0.5);
}


.row-left {
    display: flex;
    background-image: url("../assets/3.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -220px;
}

/* Create two equal columns that sits next to each other */
.column-left {
    flex: 50%;
    padding: 10px;
}


@media screen and (max-width: 600px) {
    .column-left {
        width: 100%;
    }
}

.left-heading {
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 2%;
    padding-right: 2%;
}

.column-left p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 10px;
    display: block;
    position: relative;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 5%;
    margin: 1%;
    text-align: justify;
    text-align: center;
}

.left-title {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    position: relative;

    font-size: 56px;
    font-weight: 400;
    text-align: justify;
    text-align: center;
    padding-top: 30px;
}


.accent-bar {
    width: 500px;
    height: 0.5px;
    line-height: 1;
    display: inline-block;
    margin: 5%;
    background-color: #ffffff;
    position: relative;

    box-sizing: border-box;
    display: flex;
    align-items: center;

}


.line-bar {
    width: 100%;
    height: 0.5px;
    line-height: 1;
    display: inline-block;
    margin-top: 0%;
    margin-bottom: 10%;
    background-color: #0f3057;
    box-sizing: border-box;
    display: flex;
    align-items: center;

}

.progress-title {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 200;
    text-align: justify;
    text-align: center;
    position: relative;
    padding-top: 10px;
}

.progress-bar {
    align-items: center;
}


.address::after {
    content: "";
    clear: both;
    display: table;
    margin: 50px 100px 100px 50px;



}

@media screen and (max-width: 500px) {
    .address-panel {

        width: 100%;
        padding: auto;
    }
}

.address-panel {
    float: left;
    width: 33.33%;
    align-items: center;
    padding: 5%;
}


.address-title {
    font-family: 'Poppins', sans-serif;
    color: #222222;
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: justify;
    text-align: center;
}



.column-widget a {
    float: right;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 35px;


}



/*---------------*/




  
  .middle-card {
    position : relative;
    width : 1100px;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-warp : warp;
    padding : 30px;  
  }
  
  .middle-card .card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .middle-card .card:hover {
    height : 320px;  
    border-radius : 15px;  
  }
  
  
  .middle-card .card .image {
    position : relative;
    width : 260px;
    height : 260px;
    
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
    border-radius : 15px;
  }
  
  .middle-card .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .middle-card .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    font-family: 'Poppins, sans-serif';
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
    font-size: 1.3rem;
  
  }
  
  .middle-card .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
     
  }


  /*.................*/



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  float: left;
  width: 25%;
  padding: 3px;
}

.container .box:hover .imgBox {
  transform: translate(-3.5rem, -3.5rem);
}

.container .box:hover .port-text {
  transform: translate(3.5rem, 3.5rem);
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  resize: both;
}

.port-text {
font-family: 'Poppins, sans-serif';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.port-text h2 {
  display: block;
  font-size: 1.5rem;
  color: #111;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1px;
}

.port-text span {
  color: #555;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  .container .box:hover .port-text {
    width: 100%;
    transform: translate(0, 3.5rem);
  }
  .container .box:hover .imgBox {
    width: 100%;
    transform: translate(0, -3.5rem);
  }
}
/*# sourceMappingURL=main.css.map */



.middle-card {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .middle-container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .middle-card{
      width: 100%;
    }
  }